/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 body {
  font-family: 'Indie Flower', cursive;
}

nav ul a,
nav .brand-logo {
  color: white;
}

nav .brand-logo {
  font-family: 'Pangolin', cursive;
}
.nav-wrapper {
  background-color: #161515;
}

.nav-wrapper {
  padding: 0 50px;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #ef3550;
}


.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .section-intro {
    height: 100%;
    width: 100%;
  }

  .header.center {
    font-size: 6em;
  }

  .header.subtitle {
    font-size: 1.5em;
  }


@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .nav-wrapper {
     padding: 0 10px;
  } 
}

.col-servicios {
  margin-top: 60px;
margin-bottom: 100px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

#servicios {
  font-size: 1.3em;
line-height: 1.6em;
}

.section-registro {
  width: 100%;
  height: 100%;
}

.material-icon {
  font-size: 50px;
}

.btn-registro {
  width: 100%;
}

.btn-contactame {
  width: 100%;
}
footer.page-footer {
  background-color: #011627;
}
.social-icon {
  font-size: 1.5em;
  color: #ffffff;
  padding: 0 20px;
}
.social-icon:hover {
  color: #ef3550;
}
